@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Fleet Management System</h1>
    <p><a asp-area="User" asp-controller="Bus" asp-action="Index" class="btn btn-primary">&nbsp; View All Buses</a></p>
</div>
