@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Garage List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Upsert" class="btn btn-primary"><i class="fas fa-plus"></i> &nbsp; Add Garage</a>
    </div>
</div>

<br />
<div class="p-4 border rounded">
    <table id="tblData" class="display" style="width:100%">
        <thead class="thead-dark">
            <tr class="table-info">
                <th>Name</th>
                <th>Street Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
                <th>Closest Garage</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/garage.js"></script>
}